commands:
  01_install_redis_cli:
    command: |
      #!/bin/bash
      # Redis CLI 설치 스크립트
      sudo yum install -y gcc
      wget http://download.redis.io/redis-stable.tar.gz
      tar xvzf redis-stable.tar.gz
      cd redis-stable
      make
  02_connect_redis:
    command: |
      # Redis 접속
      src/redis-cli -c -h $REDIS_HOST -p 6379
