commands:
    01_install_gcc:
        command: "sudo yum install gcc"
    02_install_redis:
        command: "sudo wget http://download.redis.io/redis-stable.tar.gz && tar xvzf redis-stable.tar.gz"
    03_cd_redis_stable:
        command: "cd redis-stable"
    04_make:
        command: "make"
    05_connect:
        command: "src/redis-cli -c -h ${REDIS_HOST} -p 6379"